
services:
###> doctrine/doctrine-bundle ###
  database:
    ports:
      - "33061:3306"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
  mailer:
    container_name: "${COMPOSE_PROJECT_NAME}-mailer"
    image: axllent/mailpit
    ports:
      - "1025"
      - "8025"
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
###< symfony/mailer ###
