<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cloudfare | Home{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        {% block stylesheets %}
        {% endblock %}


    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 100px;">
        <div class="container-fluid px-3">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">
                <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
                <span class="ps-2 fw-bold" style="color: #444;">Cauldron Overflow</span>
            </a>

            <!-- Toggler для мобильных -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Меню (скрывается на мобильных) -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_answers_popular') }}">Answers</a>
                    </li>
                </ul>
            </div>

            <button class="btn btn-dark">Sign up</button>
        </div>
    </nav>


        <main class="px-3">
            {% block body %}
            {% endblock %}
        </main>

    <footer class="mt-5 p-3 text-center">
        Made with <i style="color: red;" class="fa fa-heart"></i> by the guys and gals at <a style="color: #444; text-decoration: underline;" href="https://symfonycasts.com">SymfonyCasts</a>
    </footer>
       {% block javascripts %}
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>©
           {% block importmap %}{{ importmap('app') }}{% endblock %}
       {% endblock %}
    </body>
</html>
